{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	<section class="sl_content__body">
	    <div class="sl_inner">
	    	<div class="sl_row">
            <div class="sl_cell sl_staff__image">
                <div class="sl_staff__image__container" style="background-image:url({{ post.thumbnail.src() }})"></div>{# /.sl_staff__image #}
            </div>
            <div class="sl_cell medium-auto sl_staff__content">
                <h1>{{post.first_name}} {{post.last_name}}{% if post.certifications %}, {{post.certifications}}{% endif %}</h1>
                <h2>{{post.staff_title}}</h2>
                {{post.content|wpautop}}
            </div>
        </div>
	    </div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}
