.sl_duo {
	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		min-height: 300px;

		@include breakpoint (medium down) {
			order: 2;
			margin-top: $spacing--md;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			min-height: 200px;
			margin-top: $spacing--sm;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;

			@include breakpoint (medium down) {
				order: 2;
			}//end medium down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (medium down) {
			order: 1;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			justify-content: flex-start;

			@include breakpoint (small down) {
				align-items: initial;
			}//end small down breakpoint
		}//end .sl_button-group
	}//end &__content

	h2 {
		font-size: 3rem;

		@include breakpoint (medium down) {
			font-size: 2rem;
		}//end medium down breakpoint
	}//end h2

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content
	}//end &--right

	&--billboard {
		position: relative;
		padding-bottom: $spacing--xxl;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: 0;
		}//end small down breakpoint
		
		&:after {
			@include pseudo;
			background-color: get-color(accent2);
			top: 0;
			bottom: 0;
			left: 0;
			right: 40%;
			border-radius: 0px 0px $border-radius--lg 0px;

			@include breakpoint (medium down) {
				top: 0;
				bottom: 20%;
				border-radius: 0px;
				right: 0;
			}//end medium down breakpoint
		}//end &:after

		.sl_card {
			padding: $spacing--lg;
			padding-left: 0;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (small down) {
				text-align: center;
				padding: 0;
			}//end small down breakpoint

			@include breakpoint (large only) {
				.sl_button-group {

					.sl_button {
						font-size: 1rem;
						padding: $spacing--xs;
					}//end .sl_button

					& > :first-child {
						margin-right: $spacing--xs;
					}//end & > :first-child
				}//end .sl_button-group
			}//end large only breakpoint
		}//ennd .sl_card

		&.sl_duo--right .sl_card {
			padding-left: 0;
			padding-right: $spacing--lg;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end & .sl_duo--right

		h2 {
			font-style: italic;
			font-size: 2rem;
			span {
				color: get-color(primary);
				display: block;
				font-weight: $font-weight--bold;
				font-style: normal;
				text-transform: uppercase;
				font-size: 4.5rem;
			}//end span

			@include breakpoint (large only) {
				font-size: 1.5rem;

				span {
					font-size: 4rem;
				}//end span
			}//end large only breakpoint

			@include breakpoint (small down) {
				font-size: 1.25rem;

				span {
					font-size: 3rem;
				}//end span
			}//end small down breakpoint
		}//end h2

		p {
			font-size: 1.25rem;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				font-size: 1.125rem;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end p

		.sl_duo__media__container {
			border-radius: $border-radius--md;
			overflow: hidden;
		}//end .sl_duo__media__container
	}//end &--billboard;

	&--primary {
		position: relative;
		padding-bottom: $spacing--lg;

		&:after {
			@include pseudo;
			background: $gradient--primary;
			top: $spacing--xxl + $spacing--lg;
			bottom: 0;
			left: 0;
			right: $spacing--xxl;
			border-radius: 0px $border-radius--lg $border-radius--lg 0px;

			@include breakpoint (medium down) {
				top: $spacing--md;
				bottom: 20%;
				border-radius: 0px;
				right: 0;
			}//end medium down breakpoint
		}//end &:after

		.sl_duo__media__container {
			border-radius: $border-radius--md;
			overflow: hidden;
		}//end .sl_duo__media__container

		.sl_card {
			margin-top: $spacing--lg;
			padding-bottom: 0;

			@include breakpoint (medium only) {
				padding: 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;
				margin-top: $spacing--md;

				.sl_button {
					width: 100%;
				}//end .sl_button
			}//end medium down breakpoint

			p {
				font-size: 1.25rem;

				@include breakpoint (small down) {
					font-size: 1.125rem;
				}//end small down breakpoint
			}//end p

			& > *:not([class]) {
				color: get-color(inverse);
			}//end & > *
		}//end .sl_card
	}//end &--primary
}//.sl_duo