.sl_spotlight {
	background-color: get-color(accent2);
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint
		
	.sl_inner {
	}//end .sl_inner

	h2 {
		font-size: 2rem;
		font-style: italic;

		@include breakpoint (small down) {
			font-size: 1.5rem;
		}//end small down breakpoint
	}//end h2

	.sl_button-group {
		margin-top: $spacing--lg;

		@include breakpoint (small down) {
			margin-top: $spacing--sm;
			align-items: initial;
		}//end small down breakpoint
	}//end .sl_button-group


	//SPOTLIGHT TYPES

	&--secondary {
		background-color: get-color(secondary);

		h2 {
			font-size: 3rem;
			font-style: normal;

			@include breakpoint (small down) {
				font-size: 2rem;
			}//end small down breakpoint
		}//end h2

		.sl_card--spotlight {
			max-width: none;

			& > *:not([class]) {
				color: get-color(inverse);
			}//end & > *

			& > .sl_button {
				margin-top: $spacing--sm;

				@include breakpoint (small down) {
					width: 100%;
				}//end small down breakpoint
			}//end & > .sl_button
		}//end .sl_card--spotlight
	}//end &--secondary
}//end .sl_spotlight