{# BLOCK GRID CLASSES #}
{% if module.grid_type == "block" %}
large-up-{{ module.block_size }} medium-up-{{ module.block_size_med }} small-up-1
{% endif %}

{# MEDIA CELL SIZE CLASSES #}
{% if cell_type == "media" %}
large-{{ module.cell_size }} medium-{{ module.cell_size_med }} small-12
{% endif %}

{# CONTENT CELL SIZE CLASSES #}
{% if cell_type == "content" %}
{% if module.cell_size == '12' %}large-12{% else %}large-{{ 12 - module.cell_size }}{% endif %} {% if module.cell_size_med == '12' %} medium-12 {% else %} medium-{{ 12 - module.cell_size_med }}{% endif %} small-12
{% endif %}
