.sl_divider {
	height: 2px;
	width: 100%;
	background-color: get-color(accent2);
	margin: $spacing--lg auto;

	&--space {
		background: none;
		margin: $spacing--sm auto;
	}//end &--space
}//end .sl_divider