//Gradients
$gradient--primary: linear-gradient(131deg, #009ED2 0%, #1489C6 54%);
$gradient--secondary: linear-gradient(53deg, #1489C6 35%, #009ED2 100%);
$gradient--border: linear-gradient(-90deg, #3434A2 0%, #0996F7 87%);