$site-palette: (
  primary:    #009ED2,
  secondary:  #0F4775,
  default:    #3D414C,
  inverse:    #FFFFFF,
  accent1:    #EDAF32,
  accent2:    #E1F3FA,
  accent3:    #1489C6,
  alert:      #D60328,
);