//Shadow
$shadow: 0 4px 5px 0 rgba(0,0,0,0.10), 0 1px 10px 0 rgba(0,0,0,0.10), 0 2px 4px -1px rgba(0,0,0,0.10);
$shadow--header: 0 5px 15px 0 rgba(0,158,210,0.10);
$shadow--button: 0 5px 10px 0 rgba(0,0,0,0.10);
$shadow--inner: inset 0 0 7px 0 rgba(0,0,0,0.20);

//Hover
$shadow--hover: 0 0 10px 0 rgba(0,0,0,0.20);
$shadow--button--hover: 0 5px 10px 0 rgba(0,0,0,0.05), 0 5px 24px 0 rgba(0,0,0,0.10);
