body.error404 {
	.sl_content {

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint
		}//end &__body

		&__related {

			.sl_inner {
			}//end .sl_inner
		}//end &__related
	}//end .sl_content
}//end &__related