//Default Page Template
body.page-template-default {
	.sl_content {
		.sl_intro {
			padding: 0 !important;
			position: relative;
			background-repeat: no-repeat;

			@include breakpoint (medium only) {
				background-position: left 40%;
			}//end medium only breakpoint

			.sl_inner {
				max-width: none;
				padding: 0 !important;
				& > .sl_row {
					&:after {
						@include pseudo;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background: linear-gradient(270deg, rgba(get-color(inverse),0) 0%, get-color(accent2) 50%, get-color(accent2) 100%);
						z-index: 1;

						@include breakpoint (medium down) {
							background: linear-gradient(143deg, get-color(accent2) 0%, get-color(accent2) 31%, rgba(get-color(accent2),0.80) 61%, rgba(get-color(accent2),0.60) 100%);
						}//end medium down breakpoint
					}//end &:after
					& > .sl_cell {
					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_inner

			&__media {

				@include breakpoint (medium down) {
					display: none;
				}//end medium down breakpoint

				&__container {
					position: relative;
					width: 100%;
					height: 100%;
					min-height: 400px;
				}//end &__container
			}//end &__media

			&__image {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}//end &__image

			&__content {
				display: flex;
				align-items: center;
				max-width: $global-width/2;
				margin-left: auto;
				position: relative;
				z-index: 2;

				@include breakpoint (medium only) {
					max-width: none;
					min-height: 400px;
				}//end medium only breakpoint

				.sl_button-group {
					justify-content: flex-start;
				}//end .sl_button-group
			}//end &__content

			p {
				font-size: 1.25rem;

				&:last-of-type {
					margin-bottom: $spacing--md;
				}//end &:last-of-type;

				&:last-child {
					margin-bottom: 0;
				}//end &:last-child
			}//end p

			@include breakpoint (small down) {
				h1 {
					margin-bottom: $spacing--xs;
				}//end h1
			}//end small down breakpoint
		}//.sl_intro

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
				}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			&--narrow {
				position: relative;

				&:after {
					@include pseudo;
					top: 0;
					bottom: 0;
					right: 0;
					width: 20%;
					background-color: get-color(primary);
					opacity: .2;

					@include breakpoint (medium down) {
						display: none;
					}//end medium down breakpoint
				}//end &:after
			}//end &--narrow
		}//end &__body

		&__sidebar {
			padding-left: $spacing--lg;
		}//end &__sidebar

		&__global_cta {
			background-color: get-color(accent2);
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			h2 {
				font-size: 2rem;
				font-style: italic;

				@include breakpoint (small down) {
					font-size: 1.5rem;
				}//end small down breakpoint
			}//end h2

			.sl_button-group {
				margin-top: $spacing--lg;

				@include breakpoint (small down) {
					margin-top: 0;
					align-items: initial;
				}//end small down breakpoint
			}//end .sl_button-group
		}//end &__global_cta
	}//end .sl_content
}//end body.default
