.sl_sidebar {

	&__container {
		background-color: get-color(accent3);
		padding: $spacing--lg $spacing--md;
		border-radius: $border-radius--lg;
		box-shadow: $shadow;

		& * {
			color: get-color(inverse);
		}//end & *
	}//end &__container

	&__menu {
		list-style: none;
		margin: 0;

		& > li {
			font-size: 1.25rem;
			font-weight: $font-weight--bold;

			& > a {
				display: inline-block; 
				&:after {
					display: inline-block;
					font-size: 1rem;
					margin-left: $spacing--xs/2;
					@include fontawesome($content: '\f061');
					@include transition (all .2s ease-in-out);
				}//end &:after

				&:hover {
					color: get-color(inverse)
				}//end &:hover
			}//end & > a

			&:not(:last-of-type) {
				& > a {
					padding-bottom: $spacing--xs/2;
				}//end & > a
			}//end &:not(:last-of-type);

			& > ul {
				list-style: none;
				margin-left: $spacing--sm;
				margin-bottom: 0;
				& > li {
					font-weight: $font-weight--regular;

					&:not(:last-of-type) {
						margin-bottom: $spacing--xs/2;
					}//end &:not(:last-of-type)

					& > a {
						text-decoration: underline;
						display: inline-block; 

						&:hover {
							color: get-color(inverse)
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end & > ul
		}//end & > li
	}//end &__menu

	&__title {
		font-weight: $font-weight--regular;
		font-size: 2rem;
	}//end &__title
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search